# Zestaw 1.3 - "Polecenie SELECT - ćwiczenia końcowe"

In [ ]:
USE Library

## 1. Ćwiczenie #1
**1.1 Napisz polecenie select, za pomocą którego uzyskasz tytuł i numer książki**

In [ ]:
SELECT title, title_no FROM title

**1.2 Napisz polecenie, które wybiera tytuł o numerze 10**

In [ ]:
SELECT title FROM title WHERE title_no = 10

**1.3 Napisz polecenie select, za pomocą którego uzyskasz numer książki (nr tyułu) i autora z tablicy title dla wszystkich książek, których autorem jest Charles Dickens lub Jane Austen**

In [ ]:
SELECT title_no, author FROM title WHERE author IN ('Charles Dickens','Jane Austen')

## 2. Ćwiczenie #2
**2.1 Napisz polecenie, które wybiera numer tytułu i tytuł dla wszystkich książek, których tytuły zawierających słowo „adventure”**

In [ ]:
SELECT title_no, title FROM title WHERE title LIKE '%adventure%'

**2.2 Napisz polecenie, które wybiera numer czytelnika, oraz zapłaconą karę**

In [ ]:
SELECT member_no, fine_paid FROM loanhist WHERE fine_paid IS NOT NULL

**2.3 Napisz polecenie, które wybiera wszystkie unikalne pary miast i stanów z tablicy adult.**

In [ ]:
SELECT DISTINCT city, state FROM adult

**2.4 Napisz polecenie, które wybiera wszystkie tytuły z tablicy title i wyświetla je w porządku alfabetycznym.**

In [ ]:
SELECT title FROM title ORDER BY 1

## 3. Ćwiczenie #3
**3.1 Napisz polecenie, które:**
- **wybiera numer członka biblioteki (member_no), isbn książki (isbn) i watrość**
- **naliczonej kary (fine_assessed) z tablicy loanhist dla wszystkich wypożyczeń dla których naliczono karę (wartość nie NULL w kolumnie fine_assessed)**
- **stwórz kolumnę wyliczeniową zawierającą podwojoną wartość kolumny fine_assessed**
- **stwórz alias ‘double fine’ dla tej kolumny**

In [ ]:
SELECT member_no, isbn, fine_assessed, fine_assessed * 2 as [double fine] FROM loanhist WHERE fine_assessed IS NOT NULL

## 4. Ćwiczenie #4
**4.1 Napisz polecenie, które**
- **generuje pojedynczą kolumnę, która zawiera kolumny: firstname (imię członka biblioteki), middleinitial (inicjał drugiego imienia) i lastname (nazwisko) z tablicy member dla wszystkich członków biblioteki, którzy nazywają się Anderson**
- **nazwij tak powstałą kolumnę email_name (użyj aliasu email_name dla kolumny)**
- **zmodyfikuj polecenie, tak by zwróciło „listę proponowanych loginów e-mail” utworzonych przez połączenie imienia członka biblioteki, z inicjałem drugiego imienia i pierwszymi dwoma literami nazwiska (wszystko małymi małymi literami).**
- - **Wykorzystaj funkcję SUBSTRING do uzyskania części kolumny znakowej oraz LOWER do zwrócenia wyniku małymi literami.**

In [ ]:
SELECT LOWER(REPLACE(firstname, ' ', '') + middleinitial + SUBSTRING(lastname, 1, 2)) AS email_name 
FROM member WHERE lastname = 'Anderson'

## 5. Ćwiczenie #5
**5.1 Napisz polecenie, które wybiera title i title_no z tablicy title.**
- **Wynikiem powinna być pojedyncza kolumna o formacie jak w przykładzie poniżej:**
- - **The title is: Poems, title number 7**
- **Czyli zapytanie powinno zwracać pojedynczą kolumnę w oparciu o wyrażenie, które łączy 4 elementy:**
- - **stała znakowa ‘The title is:’**
- - **wartość kolumny title**
- - **stała znakowa ‘title number’**
- - **wartość kolumny title_no**

In [ ]:
SELECT 'The title is: ' + title + ', title number ' + CONVERT(varchar(10), title_no) AS [Title and number] FROM title