#  Zestaw 1.1 - "Grupowanie danych"

In [ ]:
USE Northwind

## 1. Ćwiczenie #1
**1.1 Podaj liczbę produktów o cenach mniejszych niż 10 lub większych niż 20**

In [ ]:
SELECT COUNT(*) FROM Products WHERE UnitPrice < 10 OR UnitPrice > 20

**1.2 Podaj maksymalną cenę produktu dla produktów o cenach poniżej 20**

In [ ]:
SELECT MAX(UnitPrice) FROM Products WHERE UnitPrice < 20

**1.3 Podaj maksymalną i minimalną i średnią cenę produktu dla produktów o
produktach sprzedawanych w butelkach (‘bottle’)**

In [ ]:
SELECT MAX(UnitPrice) AS 'MaxPrice', MIN(UnitPrice) AS 'MinPrice' FROM Products WHERE QuantityPerUnit LIKE '%bottle%'

**1.4 Wypisz informację o wszystkich produktach o cenie powyżej średniej**

In [ ]:
SELECT * FROM Products WHERE UnitPrice > (SELECT AVG(UnitPrice) FROM Products)

**1.5 Podaj sumę/wartość zamówienia o numerze 10250**

In [ ]:
SELECT ROUND(SUM((1-Discount) * UnitPrice * Quantity), 2) FROM [Order Details] WHERE OrderID = 10250

## 2. Ćwiczenie #2
**2.1 Podaj maksymalną cenę zamawianego produktu dla każdego zamówienia**

In [ ]:
SELECT OrderID, MAX(UnitPrice * (1-Discount)) AS 'MaxPrice' FROM [Order Details] GROUP BY OrderID

**2.2 Posortuj zamówienia wg maksymalnej ceny produktu**

In [ ]:
SELECT OrderID, MAX(UnitPrice) AS 'MaxPrice' FROM [Order Details] GROUP BY OrderID ORDER BY MaxPrice

**2.3 Podaj maksymalną i minimalną cenę zamawianego produktu dla każdego zamówienia**

In [ ]:
SELECT OrderID, MAX(UnitPrice) AS 'MaxPrice', MIN(UnitPrice) AS 'MinPrice' FROM [Order Details] GROUP BY OrderID

**2.4 Podaj liczbę zamówień dostarczanych przez poszczególnych spedytorów (przewoźników)**

In [ ]:
SELECT ShipVia, COUNT (*) AS 'OrdersForShipper' FROM Orders GROUP BY ShipVia

**2.5 Który z spedytorów był najaktywniejszy w 1997 roku**

In [ ]:
SELECT TOP 1 WITH TIES ShipVia, COUNT(*) AS 'OrdersCount' FROM Orders WHERE YEAR(ShippedDate) = 1997 GROUP BY ShipVia ORDER BY OrdersCount

## 3. Ćwiczenie #3
**3.1 Wyświetl zamówienia dla których liczba pozycji zamówienia jest większa niż 5**

In [ ]:
SELECT OrderID, COUNT(*) AS OrderItemsCount FROM [Order Details] GROUP BY OrderID HAVING COUNT(*) > 5

**3.2 Wyświetl klientów dla których w 1998 roku zrealizowano więcej niż 8 zamówień (wyniki posortuj malejąco wg łącznej kwoty za dostarczenie zamówień dla każdego z klientów)**

In [ ]:
SELECT CustomerID, COUNT(*) AS OrderQuantity FROM Orders WHERE YEAR(ShippedDate) = 1998 GROUP BY CustomerID HAVING COUNT(*) > 8 ORDER BY COUNT(*) DESC