#  Zestaw 1.1 - "Polecenie SELECT"

In [ ]:
USE Northwind

## 1. Wybór kolumn

**1.1 Wybierz nazwy i adresy wszystkich klientów**

In [ ]:
SELECT CompanyName, City, Country, PostalCode, Address FROM Customers

**1.2 Wybierz nazwiska i numery telefonów pracowników**

In [ ]:
SELECT LastName, HomePhone FROM Employees

**1.2 Wybierz nazwy i ceny produktów**

In [ ]:
SELECT Productname, UnitPrice FROM Products

**1.4 Pokaż wszystkie kategorie produktów (nazwy i opisy)**

In [ ]:
SELECT CategoryName, Description FROM Categories

**1.5 Pokaż nazwy i adresy stron www dostawców**

In [ ]:
SELECT CompanyName, HomePage FROM Suppliers

## 2. Wybór wierszy
**2.1 Wybierz nazwy i adresy wszystkich klientów mających siedziby w Londynie**

In [ ]:
SELECT companyname, city, address FROM customers WHERE city = 'London'

**2.2 Wybierz nazwy i adresy wszystkich klientów mających siedziby we Francji lub w Hiszpani**

In [ ]:
SELECT companyname, city, address FROM customers WHERE country = 'France' OR country = 'Spain'

**2.3 Wybierz nazwy i ceny produktów o cenie jednostkowej pomiędzy 20.00 a 30.00**

In [ ]:
SELECT productname, unitprice FROM products WHERE 20 <= unitprice  AND unitprice <= 30

**2.4 Wybierz nazwy produktów oraz inf. o stanie magazynu dla produktów dostarczanych przez firmę ‘Tokyo Traders**

In [ ]:
SELECT ProductName, UnitsInStock FROM Products WHERE SupplierID IN (SELECT SupplierID FROM Suppliers WHERE CompanyName = 'Tokyo Traders')

**2.5 Wybierz nazwy i ceny produktów z kategorii ‘meat’**

In [ ]:
SELECT ProductName, UnitPrice FROM Products WHERE CategoryID IN (SELECT CategoryID FROM Categories WHERE CategoryName = 'Meat/Poultry')

## 3. Porównywanie napisów
**3.1 Szukamy informacji o produktach sprzedawanych w butelkach (‘bottle’)**

In [ ]:
SELECT ProductName FROM Products WHERE QuantityPerUnit LIKE '%bottle%'

**3.2 Wyszukaj informacje o stanowisku pracowników, których nazwiska zaczynają się na literę z zakresu od B do L**

In [ ]:
SELECT Title FROM Employees WHERE LastName LIKE '[B-L]%'

**3.3 Wyszukaj informacje o stanowisku pracowników, których nazwiska zaczynają się na literę B lub L**

In [ ]:
SELECT Title FROM Employees WHERE LastName LIKE '[BL]%'

**3.4 Znajdź nazwy kategorii, które w opisie zawierają przecinek**

In [ ]:
SELECT CategoryName FROM Categories WHERE [Description] LIKE '%,%'

**3.5 Znajdź klientów, którzy w swojej nazwie mają w którymś miejscu słowo ‘Store’**

In [ ]:
SELECT CompanyName FROM Customers WHERE CompanyName LIKE '%Store%'

## 4. Zakres wartości
**4.1 Szukamy informacji o produktach o cenach mniejszych niż 10 lub większych niż 20**

In [ ]:
SELECT ProductName, UnitPrice FROM Products WHERE UnitPrice NOT BETWEEN 10 AND 20

**4.2 Wybierz nazwy i ceny produktów o cenie jednostkowej pomiędzy 20.00 a 30.00**

In [ ]:
SELECT ProductName, UnitPrice FROM Products WHERE UnitPrice BETWEEN 20.00 AND 30.00

## 5. Warunki logiczne
**5.1 Wybierz nazwy i kraje wszystkich klientów mających siedziby w Japonii (Japan) lub we Włoszech (Italy)**

In [ ]:
SELECT CompanyName, Country FROM Customers WHERE Country IN ('Japan', 'Italy')

## 6. Ćwiczenie #1
**6.1 Napisz instrukcję select tak aby wybrać numer zlecenia, datę zamówienia, numer klienta dla wszystkich niezrealizowanych jeszcze zleceń, dla których krajem odbiorcy jest Argentyna**

In [ ]:
SELECT OrderID, OrderDate, CustomerID FROM Orders WHERE (ShippedDate > GETDATE() OR ShippedDate IS NULL) AND ShipCountry = 'Argentina'

## 7. ORDER BY
**7.1 Wybierz nazwy i kraje wszystkich klientów, wyniki posortuj według kraju, w ramach danego kraju nazwy firm posortuj alfabetycznie**

In [ ]:
SELECT CompanyName, Country FROM Customers ORDER BY 2, 1

**7.2 Wybierz informację o produktach (grupa, nazwa, cena), produkty posortuj wg grup a w grupach malejąco wg ceny**

In [ ]:
SELECT CategoryName, ProductName, UnitPrice FROM Products, Categories WHERE Categories.CategoryID = Products.CategoryID ORDER BY 1, 3 DESC

**7.3 Wybierz nazwy i kraje wszystkich klientów mających siedziby w Japonii (Japan) lub we Włoszech (Italy), wyniki posortuj tak jak w pkt 1**

In [ ]:
SELECT CompanyName, Country FROM Customers WHERE Country IN ('Japan', 'Italy') ORDER BY 2, 1

## 8. Ćwiczenie #2
**8.1 Napisz polecenie, które oblicza wartość każdej pozycji zamówienia o numerze 10250**

In [ ]:
SELECT OrderID, UnitPrice * Quantity as TotalPrice FROM [Order Details] WHERE OrderID = 10250

**8.2 Napisz polecenie które dla każdego dostawcy (supplier) pokaże pojedynczą kolumnę zawierającą nr telefonu i nr faksu w formacie (numer telefonu i faksu mają być oddzielone przecinkiem)**

In [ ]:
SELECT CompanyName, Phone + ISNULL(', ' + Fax, '') as [Phone, Fax] FROM Suppliers
-- alternatywna opcja
SELECT CompanyName, 
    CASE
        WHEN Fax IS NOT NULL THEN Phone + ', ' + Fax
        ELSE Phone
    END AS [Phone, Fax] 
FROM Suppliers