#  Zestaw 2.1 - "Grupowanie danych - ćwiczenia końcowe"

In [ ]:
USE Northwind

## Ćwiczenie #1
**1.1 Napisz polecenie, które oblicza wartość sprzedaży dla każdego zamówienia w tablicy order details i zwraca wynik posortowany w malejącej kolejności (wg wartości sprzedaży).**

In [ ]:
SELECT OrderID, ROUND(SUM((1-Discount) * UnitPrice * Quantity), 2) AS OrderValue FROM [Order Details] 
GROUP BY OrderID ORDER BY OrderValue DESC

**1.2 Zmodyfikuj zapytanie z poprzedniego punktu, tak aby zwracało pierwszych 10 wierszy**

In [ ]:
SELECT TOP 10 OrderID, ROUND(SUM((1-Discount) * UnitPrice * Quantity), 2) AS OrderValue FROM [Order Details] 
GROUP BY OrderID ORDER BY OrderValue DESC

## Ćwiczenie #2
**2.1 Podaj liczbę zamówionych jednostek produktów dla produktów, dla których productid < 3**

In [ ]:
SELECT ProductID, SUM(Quantity) AS QuantitySum FROM [Order Details] WHERE ProductID < 3 GROUP BY ProductID

**2.2 Zmodyfikuj zapytanie z poprzedniego punktu, tak aby podawało liczbę zamówionych jednostek produktu dla wszystkich produktów**

In [ ]:
SELECT ProductID, SUM(Quantity) AS QuantitySum FROM [Order Details] GROUP BY ProductID

**2.3 Podaj nr zamówienia oraz wartość zamówienia, dla zamówień, dla których łączna liczba zamawianych jednostek produktów jest > 250**

In [ ]:
SELECT OrderID, ROUND(SUM((1-Discount) * UnitPrice * Quantity), 2) AS OrderValue FROM [Order Details] 
GROUP BY OrderID HAVING SUM(Quantity) > 250

## Ćwczenie #3
**3.1 Dla każdego pracownika podaj liczbę obsługiwanych przez niego zamówień**

In [ ]:
SELECT EmployeeID, COUNT(*) AS EmployeeOrders FROM Orders GROUP BY EmployeeID

**3.2 Dla każdego spedytora/przewoźnika podaj wartość "opłata za przesyłkę" przewożonych przez niego zamówień**

In [ ]:
SELECT ShipVia, SUM(Freight) AS ShipperFreight FROM Orders GROUP BY ShipVia

**3.3 Dla każdego spedytora/przewoźnika podaj wartość "opłata za przesyłkę" przewożonych przez niego zamówień w latach o 1996 do 1997**

In [ ]:
SELECT ShipVia, SUM(Freight) AS ShipperFreight FROM Orders WHERE YEAR(ShippedDate) BETWEEN 1996 AND 1997 GROUP BY ShipVia

## Ćwiczenie #4
**4.1 Dla każdego pracownika podaj liczbę obsługiwanych przez niego zamówień z podziałem na lata i miesiące**

In [ ]:
SELECT EmployeeID, MONTH(OrderDate) AS OrderMonth, YEAR(OrderDate) AS OrderYear, COUNT(*) AS EmployeeOrders FROM Orders 
GROUP BY EmployeeID, MONTH(OrderDate), YEAR(OrderDate) ORDER BY OrderYear, OrderMonth

**4.2 Dla każdej kategorii podaj maksymalną i minimalną cenę produktu w tej kategorii**

In [ ]:
SELECT CategoryID, MIN(UnitPrice) AS MinPrice, MAX(UnitPrice) AS MaxPrice FROM Products GROUP BY CategoryID