#  Zestaw 3.0 - "Łączenie tabel - JOIN"

In [ ]:
USE Northwind

## Ćwiczenie #1
**1.1 Wybierz nazwy i ceny produktów (baza northwind) o cenie jednostkowej
pomiędzy 20.00 a 30.00, dla każdego produktu podaj dane adresowe dostawcy**

In [ ]:
SELECT ProductName, UnitPrice, CompanyName, Address, City, Country 
FROM Products 
INNER JOIN Suppliers ON Products.SupplierID = Suppliers.SupplierID 
WHERE UnitPrice BETWEEN 20.00 AND 30.00

**1.2 Wybierz nazwy produktów oraz inf. o stanie magazynu dla produktów
dostarczanych przez firmę ‘Tokyo Traders’**

In [ ]:
SELECT ProductName, UnitsInStock 
FROM Products 
INNER JOIN Suppliers ON Products.SupplierID = Suppliers.SupplierID 
WHERE CompanyName = 'Tokyo Traders'

**1.3 Czy są jacyś klienci którzy nie złożyli żadnego zamówienia w 1997 roku, jeśli tak
to pokaż ich dane adresowe**

In [ ]:
SELECT CompanyName, Address, City, Country, A.CustomerID
FROM Customers 
LEFT OUTER JOIN (SELECT CustomerID FROM Orders WHERE YEAR(OrderDate) = 1997) AS A ON Customers.CustomerID = A.CustomerID 
WHERE A.CustomerID IS NULL
--altrnatywnie
-- SELECT CompanyName, Address, City, Country, Orders.CustomerID
-- FROM Customers 
-- LEFT OUTER JOIN Orders ON Customers.CustomerID = Orders.CustomerID AND YEAR(OrderDate) = 1997
-- WHERE Orders.CustomerID IS NULL

**1.4 Wybierz nazwy i numery telefonów dostawców, dostarczających produkty,
których aktualnie nie ma w magazynie**

In [ ]:
SELECT CompanyName, Phone 
FROM Suppliers INNER JOIN Products ON Suppliers.SupplierID = Products.ProductID WHERE UnitsInStock = 0

## Ćwiczenie #2

In [ ]:
USE Library

**2.1 Napisz polecenie, które wyświetla listę dzieci będących członkami biblioteki (baza
library). Interesuje nas imię, nazwisko i data urodzenia dziecka.**

In [ ]:
SELECT firstname, lastname, birth_date 
FROM member 
INNER JOIN juvenile ON member.member_no = juvenile.member_no

**2.2 Napisz polecenie, które podaje tytuły aktualnie wypożyczonych książek**

In [ ]:
SELECT title, due_date 
FROM title 
INNER JOIN loan ON title.title_no = loan.title_no 
WHERE GETDATE() BETWEEN out_date AND due_date

**2.3 Podaj informacje o karach zapłaconych za przetrzymywanie książki o tytule ‘Tao
Teh King’. Interesuje nas data oddania książki, ile dni była przetrzymywana i jaką
zapłacono karę**

In [ ]:
SELECT due_date, DATEDIFF(DAY, in_date, due_date) AS days_in, fine_paid 
FROM loanhist 
INNER JOIN title ON loanhist.title_no = title.title_no 
WHERE title = 'Tao Teh King' AND fine_paid IS NOT NULL

**2.4 Napisz polecenie które podaje listę książek (mumery ISBN) zarezerwowanych
przez osobę o nazwisku: Stephen A. Graff**

In [ ]:
SELECT isbn 
FROM reservation 
INNER JOIN member ON reservation.member_no = member.member_no 
WHERE (firstname + ' ' + middleinitial + ' ' + lastname) = 'Stephen A Graff'

## Ćwiczenie #3

In [ ]:
USE Northwind

**3.1 Wybierz nazwy i ceny produktów (baza northwind) o cenie jednostkowej
pomiędzy 20.00 a 30.00, dla każdego produktu podaj dane adresowe dostawcy,
interesują nas tylko produkty z kategorii ‘Meat/Poultry’**

In [ ]:
SELECT ProductName, UnitPrice, CompanyName, Address, City, Country 
FROM Products AS P 
INNER JOIN Suppliers AS S ON P.SupplierID = S.SupplierID 
INNER JOIN Categories AS C ON P.CategoryID = P.CategoryID
WHERE CategoryName = 'Meat/Poultry' AND UnitPrice BETWEEN 20.00 AND 30.00

**3.2 Wybierz nazwy i ceny produktów z kategorii ‘Confections’ dla każdego produktu
podaj nazwę dostawcy.**

In [ ]:
SELECT ProductName, UnitPrice, CompanyName
FROM Products AS P
INNER JOIN Categories AS C ON P.CategoryID = C.CategoryID
INNER JOIN Suppliers AS S ON S.SupplierID = P.SupplierID
WHERE CategoryName = 'Confections'

**3.3 Wybierz nazwy i numery telefonów klientów , którym w 1997 roku przesyłki
dostarczała firma ‘United Package’**

In [ ]:
SELECT C.CompanyName, C.Phone
FROM Customers AS C
INNER JOIN Orders AS O ON C.CustomerID = O.CustomerID
INNER JOIN Shippers AS S ON S.ShipperID = O.ShipVia
WHERE YEAR(OrderDate) = 1997 AND S.CompanyName = 'United Package'

**3.4 Wybierz nazwy i numery telefonów klientów, którzy kupowali produkty z kategorii
‘Confections’**

In [ ]:
SELECT DISTINCT C.CompanyName
FROM Customers AS C
INNER JOIN Orders AS O ON C.CustomerID = O.CustomerID
INNER JOIN [Order Details] AS OD ON O.OrderID = OD.OrderID
INNER JOIN Products AS P ON P.ProductID = OD.ProductID
INNER JOIN Categories AS CA ON CA.CategoryID = P.CategoryID
WHERE CategoryName = 'Confections'
-- zrób to z ćwiczeń z left outer join

## Ćwiczenie #4

In [ ]:
USE Library

**4.1 Napisz polecenie, które wyświetla listę dzieci będących członkami biblioteki (baza
library). Interesuje nas imię, nazwisko, data urodzenia dziecka i adres
zamieszkania dziecka**

In [ ]:
SELECT firstname, lastname, birth_date, street, city, state
FROM juvenile AS J
INNER JOIN adult AS A ON A.member_no = J.adult_member_no
INNER JOIN member AS M ON M.member_no = J.member_no

**4.2 Napisz polecenie, które wyświetla listę dzieci będących członkami biblioteki (baza
library). Interesuje nas imię, nazwisko, data urodzenia dziecka, adres
zamieszkania dziecka oraz imię i nazwisko rodzica**

In [ ]:
SELECT MC.firstname, MC.lastname, birth_date, street, city, state, MP.firstname AS parentfirstname, MP.lastname AS parentlastname
FROM juvenile AS J
INNER JOIN member AS MC ON J.member_no = MC.member_no
INNER JOIN adult AS A ON J.adult_member_no = A.member_no
INNER JOIN Member AS MP ON J.adult_member_no = MP.member_no

## Ćwiczenie #5

In [ ]:
USE Northwind

**5.1 Napisz polecenie, które wyświetla pracowników oraz ich podwładnych**

In [ ]:
SELECT A.FirstName + ' ' + A.LastName AS Supervisor, B.FirstName + ' ' + B.LastName AS Subordinate
FROM Employees AS A
INNER JOIN Employees AS B
ON B.ReportsTo = A.EmployeeID

**5.2 Napisz polecenie, które wyświetla pracowników, którzy nie mają podwładnych**

In [ ]:
SELECT A.FirstName + ' ' + A.LastName AS EmployeeName
FROM Employees AS A
LEFT OUTER JOIN Employees AS B
ON A.EmployeeID = B.ReportsTo
WHERE B.EmployeeID IS NULL

**5.3 Napisz polecenie, które wyświetla adresy członków biblioteki, którzy mają dzieci
urodzone przed 1 stycznia 1996**

In [ ]:
USE Library

In [ ]:
SELECT street, city, State
FROM adult AS A
INNER JOIN juvenile AS J
ON J.adult_member_no = A.member_no
WHERE birth_date < '19960101'

**5.4 Napisz polecenie, które wyświetla adresy członków biblioteki, którzy mają dzieci
urodzone przed 1 stycznia 1996. Interesują nas tylko adresy takich członków
biblioteki, którzy aktualnie nie przetrzymują książek**

In [ ]:
SELECT street, city, State
FROM adult AS A
INNER JOIN juvenile AS J
ON J.adult_member_no = A.member_no
INNER JOIN member AS M
ON M.member_no = A.member_no
LEFT OUTER JOIN loan AS L
ON M.member_no = L.member_no
WHERE birth_date < '19960101' AND L.member_no IS NULL

## Ćwiczenie #6
**6.1 Napisz polecenie które zwraca imię i nazwisko (jako pojedynczą kolumnę –
name), oraz informacje o adresie: ulica, miasto, stan kod (jako pojedynczą
kolumnę – address) dla wszystkich dorosłych członków biblioteki**

In [ ]:
SELECT M.firstname + ' ' + M.lastname AS name, A.street + ', ' + A.city + ', ' + A.state AS address
FROM member AS M
INNER JOIN adult AS A
ON M.member_no = A.member_no

**6.2 Napisz polecenie, które zwraca: isbn, copy_no, on_loan, title, translation, cover,
dla książek o isbn 1, 500 i 1000. Wynik posortuj wg ISBN**

In [ ]:
SELECT I.isbn, C.copy_no, C.on_loan, T.title, I.translation, I.cover
FROM item AS I
INNER JOIN title AS T
ON I.title_no = T.title_no
INNER JOIN copy AS C
ON I.isbn = C.isbn
WHERE I.isbn IN (1, 500, 1000)
ORDER BY I.isbn

**6.3 Napisz polecenie które zwraca o użytkownikach biblioteki o nr 250, 342, i 1675
(dla każdego użytkownika: nr, imię i nazwisko członka biblioteki), oraz informację
o zarezerwowanych książkach (isbn, data)**

In [ ]:
SELECT M.member_no, M.firstname, M.lastname, R.isbn, R.log_date AS date
FROM member AS M
INNER JOIN reservation AS R
ON M.member_no = R.member_no

**6.4 Podaj listę członków biblioteki mieszkających w Arizonie (AZ) mają więcej niż
dwoje dzieci zapisanych do biblioteki**

In [ ]:
SELECT firstname + ' ' + lastname AS name
FROM member AS M
INNER JOIN adult AS A
ON M.member_no = A.member_no
INNER JOIN juvenile AS J
ON A.member_no = J.adult_member_no
WHERE A.state = 'AZ'
GROUP BY M.member_no, M.firstname, M.lastname
HAVING COUNT(J.member_no) > 2

## Ćwiczenie #7

**7.1 Podaj listę członków biblioteki mieszkających w Arizonie (AZ) którzy mają więcej
niż dwoje dzieci zapisanych do biblioteki oraz takich którzy mieszkają w Kaliforni
(CA) i mają więcej niż troje dzieci zapisanych do biblioteki**

In [ ]:
SELECT firstname + ' ' + lastname AS name, A.state, COUNT(J.member_no) AS children_no
FROM member AS M
INNER JOIN adult AS A
ON M.member_no = A.member_no
INNER JOIN juvenile AS J
ON A.member_no = J.adult_member_no
GROUP BY M.member_no, M.firstname, M.lastname, A.state
HAVING (A.state = 'AZ' AND COUNT(J.member_no) > 2) OR (A.state = 'CA' AND COUNT(J.member_no) > 3)