#  Zestaw 3.1 - "Łączenie tabel - JOIN - ćwiczenia końcowe"

In [ ]:
USE Northwind

## Ćwiczenie #1
**1.1 Dla każdego zamówienia podaj łączną liczbę zamówionych jednostek towaru oraz
nazwę klienta**

In [ ]:
SELECT OD.OrderId, SUM(OD.Quantity) AS TotalQuantity, C.CompanyName
FROM [Order Details] AS OD
INNER JOIN ORDERS AS O
ON OD.OrderID = O.OrderID
INNER JOIN Customers AS C
ON O.CustomerID = C.CustomerID
GROUP BY OD.OrderId, C.CompanyName

**1.2 Zmodyfikuj poprzedni przykład, aby pokazać tylko takie zamówienia, dla których
łączna liczbę zamówionych jednostek jest większa niż 250**

In [ ]:
SELECT OD.OrderId, SUM(OD.Quantity) AS TotalQuantity, C.CompanyName
FROM [Order Details] AS OD
INNER JOIN ORDERS AS O
ON OD.OrderID = O.OrderID
INNER JOIN Customers AS C
ON O.CustomerID = C.CustomerID
GROUP BY OD.OrderId, C.CompanyName
HAVING SUM(OD.Quantity) > 250

**1.3 Dla każdego zamówienia podaj łączną wartość tego zamówienia oraz nazwę
klienta**

In [ ]:
SELECT OD.OrderId, ROUND(SUM(OD.Quantity * OD.UnitPrice * (1 -OD.Discount)), 2) AS TotalCost, C.CompanyName
FROM [Order Details] AS OD
INNER JOIN ORDERS AS O
ON OD.OrderID = O.OrderID
INNER JOIN Customers AS C
ON O.CustomerID = C.CustomerID
GROUP BY OD.OrderId, C.CompanyName

**1.4 Zmodyfikuj poprzedni przykład, aby pokazać tylko takie zamówienia, dla których
łączna liczba jednostek jest większa niż 250**

In [ ]:
SELECT OD.OrderId, ROUND(SUM(OD.Quantity * OD.UnitPrice * (1 -OD.Discount)), 2) AS TotalCost, C.CompanyName
FROM [Order Details] AS OD
INNER JOIN ORDERS AS O
ON OD.OrderID = O.OrderID
INNER JOIN Customers AS C
ON O.CustomerID = C.CustomerID
GROUP BY OD.OrderId, C.CompanyName
HAVING SUM(OD.Quantity) > 250

**1.5 Zmodyfikuj poprzedni przykład tak żeby dodać jeszcze imię i nazwisko
pracownika obsługującego zamówienie**

In [ ]:
SELECT OD.OrderId, ROUND(SUM(OD.Quantity * OD.UnitPrice * (1 -OD.Discount)), 2) AS TotalCost, C.CompanyName, 
    E.FirstName + ' ' + E.LastName AS EmployeeName
FROM [Order Details] AS OD
INNER JOIN ORDERS AS O
ON OD.OrderID = O.OrderID
INNER JOIN Customers AS C
ON O.CustomerID = C.CustomerID
INNER JOIN Employees AS E
ON O.EmployeeID = E.EmployeeID
GROUP BY OD.OrderId, C.CompanyName, E.LastName, E.FirstName
HAVING SUM(OD.Quantity) > 250

## Ćwiczenie #2
**2.1 Dla każdej kategorii produktu (nazwa), podaj łączną liczbę zamówionych przez
klientów jednostek towarów z tek kategorii**

In [ ]:
SELECT C.CategoryName, SUM(OD.Quantity) AS TotalQuantity
FROM Categories AS C
INNER JOIN Products AS P
ON C.CategoryID = P.CategoryID
INNER JOIN [Order Details] AS OD
ON OD.ProductID = P.ProductID
GROUP BY C.CategoryName

**2.2 Dla każdej kategorii produktu (nazwa), podaj łączną wartość zamówionych przez
klientów jednostek towarów z tek kategorii**

In [ ]:
SELECT C.CategoryName, ROUND(SUM(OD.Quantity * OD.UnitPrice * (1 -OD.Discount)), 2) AS TotalCost
FROM Categories AS C
INNER JOIN Products AS P
ON C.CategoryID = P.CategoryID
INNER JOIN [Order Details] AS OD
ON OD.ProductID = P.ProductID
GROUP BY C.CategoryName

**2.3 Posortuj wyniki w zapytaniu z poprzedniego punktu wg:
a) łącznej wartości zamówień,
b) łącznej liczby zamówionych przez klientów jednostek towarów**

In [ ]:
SELECT C.CategoryName, ROUND(SUM(OD.Quantity * OD.UnitPrice * (1 -OD.Discount)), 2) AS TotalCost
FROM Categories AS C
INNER JOIN Products AS P
ON C.CategoryID = P.CategoryID
INNER JOIN [Order Details] AS OD
ON OD.ProductID = P.ProductID
GROUP BY C.CategoryName
ORDER BY TotalCost
--ORDER BY SUM(OD.Quantity)

**2.4 Dla każdego zamówienia podaj jego wartość uwzględniając opłatę za przesyłkę**

In [ ]:
SELECT OD.OrderId, ROUND(SUM(OD.Quantity * OD.UnitPrice * (1 -OD.Discount) + O.Freight), 2) AS TotalCost
FROM [Order Details] AS OD
INNER JOIN ORDERS AS O
ON OD.OrderID = O.OrderID
GROUP BY OD.OrderId

## Ćwiczenie #3
**3.1 Dla każdego przewoźnika (nazwa) podaj liczbę zamówień które przewieźli w 1997r**

In [ ]:
SELECT S.CompanyName, COUNT(O.OrderID) AS OrderCompleted
FROM Shippers AS S
INNER JOIN Orders AS O
ON S.ShipperID = O.ShipVia AND YEAR(O.ShippedDate) = 1997
GROUP BY S.CompanyName

**3.2 Który z przewoźników był najaktywniejszy (przewiózł największą liczbę
zamówień) w 1997r, podaj nazwę tego przewoźnika**

In [ ]:
SELECT TOP 1 S.CompanyName
FROM Shippers AS S
INNER JOIN Orders AS O
ON S.ShipperID = O.ShipVia AND YEAR(O.ShippedDate) = 1997
GROUP BY S.CompanyName
ORDER BY COUNT(O.OrderID)

**3.3 Dla każdego pracownika (imię i nazwisko) podaj łączną wartość zamówień
obsłużonych przez tego pracownika**

In [ ]:
SELECT E.FirstName + ' ' + E.LastName AS EmployeeName, ROUND(SUM(OD.UnitPrice * OD.Quantity * (1-Od.Discount)), 2) AS TotalCost
FROM Employees AS E
INNER JOIN Orders AS O
ON O.EmployeeID = E.EmployeeID
INNER JOIN [Order Details] AS OD
ON OD.OrderID = O.OrderID
GROUP BY E.FirstName, E.LastName

**3.4 Który z pracowników obsłużył największą liczbę zamówień w 1997r, podaj imię i
nazwisko takiego pracownika**

In [ ]:
SELECT TOP 1 E.FirstName + ' ' + E.LastName AS EmployeeName
FROM Employees AS E
INNER JOIN Orders AS O
ON E.EmployeeID = O.EmployeeID AND YEAR(OrderDate) = 1997
GROUP BY E.FirstName, E.LastName
ORDER BY COUNT(O.OrderID) DESC

**3.5 Który z pracowników obsłużył najaktywniejszy (obsłużył zamówienia o
największej wartości) w 1997r, podaj imię i nazwisko takiego pracownika**

In [ ]:
SELECT TOP 1 E.FirstName + ' ' + E.LastName AS EmployeeName
FROM Employees AS E
INNER JOIN Orders AS O
ON E.EmployeeID = O.EmployeeID AND YEAR(OrderDate) = 1997
INNER JOIN [Order Details] AS OD
ON OD.OrderID = O.OrderID
GROUP BY E.FirstName, E.LastName
ORDER BY SUM(OD.UnitPrice * OD.Quantity * (1-OD.Discount)) DESC

## Ćwiczenie #4
**4.1 Dla każdego pracownika (imię i nazwisko) podaj łączną wartość zamówień
obsłużonych przez tego pracownika
– Ogranicz wynik tylko do pracowników
a) którzy mają podwładnych
b) którzy nie mają podwładnych**

In [ ]:
SELECT E.FirstName + ' ' + E.LastName AS EmployeeName, ROUND(SUM(OD.UnitPrice * OD.Quantity * (1-Od.Discount)), 2) AS TotalCost
FROM Employees AS E
LEFT OUTER JOIN Employees AS E1
ON E.EmployeeID = E1.ReportsTo
INNER JOIN Orders AS O
ON E.EmployeeID = O.EmployeeID
INNER JOIN [Order Details] AS OD
ON OD.OrderID = O.OrderID
WHERE E1.EmployeeID IS NOT NULL
GROUP BY E.FirstName, E.LastName

In [ ]:
SELECT E.FirstName + ' ' + E.LastName AS EmployeeName, ROUND(SUM(OD.UnitPrice * OD.Quantity * (1-Od.Discount)), 2) AS TotalCost
FROM Employees AS E
LEFT OUTER JOIN Employees AS E1
ON E.EmployeeID = E1.ReportsTo
INNER JOIN Orders AS O
ON E.EmployeeID = O.EmployeeID
INNER JOIN [Order Details] AS OD
ON OD.OrderID = O.OrderID
WHERE E1.EmployeeID IS NULL
GROUP BY E.FirstName, E.LastName